/* footer */
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:#495E57;;
    color: #fff;
  }
  
  footer a {
    color: #333;
  }
  footer a:hover {
    color: #F4CE14;
  }
  
  .footer-logo {
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    width: 15%;
    height: 30%;
    background-color: #D9D9D9;
  }
  
  .footer-logo img {
  
    width: 70%;
    color: #000;
  }
  

  @media screen and (max-width: 1024px) {
    footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color:#495E57;;
        color: #fff;
        padding-left: 100px;
      
      }
      .footer-logo {
        display: flex;
        align-self: flex-start;
        align-items: center;
        justify-content: center;
        padding-top: 10px;
        width: 15%;
        height: 30%;
        background-color: #D9D9D9;
      }
      .paddining {
        padding:0;
      
      }
  }