@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200&500&family=Markazi+Text:wght@500&display=swap');
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.paddining {
  padding: 0  280px;

}
button {
  font-family: 'Karla';
  color: #000;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  background: #F4CE14;
  border-radius: 16px;
  border: none;
  width: 200px;
  height: 60px;
  margin-bottom: 10px;
}
/* Navigation section */
nav {
  width: 55%;
  height: 122px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.nav-logo {
  width: 15%;
}
.nav-logo img{
  padding-top: 15px;
  padding-left: 15px;
  width: 80%;
}
.nav-list {
  display: flex;
  justify-content: space-between;
  width: 70%;
  display: flex;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
}
 li {
  list-style: none;
}
a {
  text-decoration: none;
}
a:active {
  color: #000;
}
a:hover {
  color: #F4CE14;
}


/* Header Section */
header {
    display: flex;
    justify-content: space-between;
    background-color: #495E57;
    padding-top: 10px;
    height: 406px;
}

.header-title {
  width: 45%;
  margin-bottom: 20px;
  color: #EDEF;
}
.header-image {
  display: flex;
  align-items: center;
  width: 45%;
}
.header-image img {
  width: 100%;
}
.header-title h1,.about-title h1 {
  font-family: 'Markazi Text', serif;
  color: #F4CE14;
  font-size: 64px;
  font-weight: meduim;
  margin-bottom: 0;
}
.header-title h2,.about-title h2 {
  font-family: 'Karla', sans-serif;
  margin-bottom: 0;
}

.header-title button {
  margin-top: 30px;
}

/* Main */
.highlights {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
    height: 713px;
}
.special-title {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.special-title h3 {
  font-family: 'Markazi Text';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
}
.special-cards {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.dish-info {
  margin-top: 20px;
  width: 30%;
  background-color: #D9D9D9;
  color: #495E57;
  border-radius: 16px 16px 0px 0px;

}
.dish-info h3 {
  display: flex;
  justify-content: space-between;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #000;
}
.dish-info p {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
.dish-info img {
  width: 100%;
  border-radius: 16px 16px 0px 0px;

}

.dish-info div {
  padding: 0 10px;
}
.dish-details{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-bottom: 0;
  align-items: center;
}
/* Testominals */
.Testominals {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 100px;
  height: 590px;
}
.testominal-title {
  margin-bottom: 30px;
}
.testominal-cards {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;

}
.client {
  width: 22%;
  height: 175px;
  background-color: #D9D9D9;
  text-align: center;
}
h4 {
  color: #EE9972;
}
.dish-details p {
  padding-bottom: 0;
}
/* About */

.About {
  background-color: #F4CE14;
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  height: 580px;
}
.about-title {
  margin-bottom: 20px;
}
.about-title h1  {
 color: #000;
}

.about-image {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 20px;
  width: 80%;
}
.about-image img {
  width: 80%;
}
.about-image img:nth-child(1) {
  position: relative;
  top: 0;
  left: 0;
}
.about-image img:nth-child(2) {
  position: absolute;
  top: 10px;
  left: 65px;
}

/* footer */
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color:#495E57;;
  color: #fff;
}

footer a {
  color: #333;
}
footer a:hover {
  color: #F4CE14;
}

.footer-logo {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  width: 15%;
  height: 30%;
  background-color: #D9D9D9;
}

.footer-logo img {
  width: 70%;
  color: #000;
}