@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200&500&family=Markazi+Text:wght@500&display=swap');
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.paddining {
  padding: 0  280px;

}
button {
  font-family: 'Karla';
  color: #000;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  background: #F4CE14;
  border-radius: 16px;
  border: none;
  width: 200px;
  height: 60px;
  margin-bottom: 10px;
}

/* Main */
/* Testominals */
.Testominals {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 100px;
  height: 590px;
  background-color: #495E57;
}
.testominal-title {
  margin-bottom: 30px;
}
.testominal-cards {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;

}
.client {
  width: 22%;
  height: 175px;
  background-color: #D9D9D9;
  text-align: center;
}
h4 {
  color: #EE9972;
}
.dish-details p {
  padding-bottom: 0;
}
/* About */

.About {
  background-color: #F4CE14;
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  height: 580px;
}
.about-title {
 padding-right: 100px;
  margin-bottom: 20px;
}
.about-title p{
  font-size: 1rem;
}
.about-name  {
  color: #495E57;
  font-size: 1.7rem;}

.about-image {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 20px;
  width: 60%;
}
.about-image img {
  width: 40%;
}
.about-image img:nth-child(1) {
  position: relative;
  top: 0;
  left: 0;
}
.about-image img:nth-child(2) {
  position: absolute;
  top: 10px;
  left: 65px;
}

@media screen and (max-width: 1024px) {
.Testominals {
  margin-top: 200px;
  flex-direction: column;
}
.testominal-cards {
  flex-direction: column;
  justify-content: space-evenly;
}
.client {
  width: 80%;
 margin-top: 10px;
}
.About {
  padding-left: 10px;
  margin-top: 200px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.about-image {
  display: none;
}
}